# Application Configuration
NODE_ENV=development
PORT=9009
DEFAULT_TIME_ZONE=Asia/Bangkok

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres123
DB_DATABASE=expense_tracker_dev
DB_DIALECT=postgres

# JWT Configuration
ACCESS_KEY_TOKEN=accessToken
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=1d

# Default User Configuration
DEFAULT_PASSWORD=admin123

# Logging Configuration
LOG_LEVEL=debug

# CORS Configuration
CORS_ORIGIN=*

# Swagger Configuration
SWAGGER_TITLE=Expense API
SWAGGER_DESCRIPTION=The Expense API description
SWAGGER_VERSION=1.0

#Logger config
PRETTY_LOG=true
